* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 50px;
  /* Background color */
  --bg-primary-color: #141414;
  --bg-fill-color: #fdfdfc;
  --bg-food-color: #ae0000;
  /* Text color */
  --text-primary-color: #f0f0f0;
  /* Padding */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
  /* Border color */
  --border-primary-color: #333333;
  --border-primary-color-light: rgba(51, 51, 51, 0.4);
  /* Border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  width: 100%;
  height: 100%;
}

.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-lg);
}

section .information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section .info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

.main-board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--border-primary-color-light);
  border-radius: 6px;
  box-sizing: border-box;
}

.fill {
  background-color: var(--bg-fill-color);
}

.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #35353587;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game,
.modal .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.modal .game-over {
  display: none;
}
